* {
  --xl: 2560px;
  --l: 1440px;
  --m: 1024px;
  --s: 768px;
  --xs: 425px;

  --white: #fff;
  --main-white: rgba(255, 252, 245, 1);
  --bg-color: rgb(55 67 117 / 100%);
  --input-text-color: rgba(172, 169, 167, 1);
  --soft-pink: rgba(252, 228, 228, 1);
  --dark-pink: rgba(240, 152, 152, 1);
  --main-black: rgba(11, 13, 14, 1);
  --red: rgba(255, 0, 0, 1);
  --green: rgba(0, 255, 0, 1);

  --card-title-xl: 600 22px/ 1 'Inter', sans-serif;
  --card-title-l: 600 20px/ 1 'Inter', sans-serif;
  --card-title-m: 600 18px/ 1 'Inter', sans-serif;
  --card-title-s: 600 16px/ 1 'Inter', sans-serif;
  --card-title-xs: 600 14px/ 1 'Inter', sans-serif;

  --card-price-xl: 800 22px/ 1 'Inter', sans-serif;
  --card-price-l: 800 20px/ 1 'Inter', sans-serif;
  --card-price-m: 800 18px/ 1 'Inter', sans-serif;
  --card-price-s: 800 16px/ 1 'Inter', sans-serif;
  --card-price-xs: 800 14px/ 1 'Inter', sans-serif;

  --card-description-xl: 600 17px/ 1 'Inter', sans-serif;
  --card-description-l: 600 16px/ 1 'Inter', sans-serif;
  --card-description-m: 600 15px/ 1 'Inter', sans-serif;
  --card-description-s: 600 14px/ 1 'Inter', sans-serif;
  --card-description-xs: 600 13px/ 1 'Inter', sans-serif;

  --card-vertical-width-xl: 250px;
  --card-vertical-width-l: 225px;
  --card-vertical-width-m: 200px;
  --card-vertical-width-s: 175px;
  --card-vertical-width-xs: 150px;

  --card-vertical-height-xl: 325px;
  --card-vertical-height-l: 300px;
  --card-vertical-height-m: 275px;
  --card-vertical-height-s: 250px;
  --card-vertical-height-xs: 225px;

  --card-horizontal-width-xl: 500px;
  --card-horizontal-width-l: 450px;
  --card-horizontal-width-m: 400px;
  --card-horizontal-width-s: 320px;
  --card-horizontal-width-xs: 230px;

  --card-horizontal-height-xl: 200px;
  --card-horizontal-height-l: 200px;
  --card-horizontal-height-m: 175px;
  --card-horizontal-height-s: 170px;
  --card-horizontal-height-xs: 150px;

  --section-main-title-xl: 800 26px/ 1 'Inter', sans-serif;
  --section-main-title-l: 800 24px/ 1 'Inter', sans-serif;
  --section-main-title-m: 800 22px/ 1 'Inter', sans-serif;
  --section-main-title-s: 800 20px/ 1 'Inter', sans-serif;
  --section-main-title-xs: 800 18px/ 1 'Inter', sans-serif;

  --section-title-xl: 600 24px/ 1 'Inter', sans-serif;
  --section-title-l: 600 22px/ 1 'Inter', sans-serif;
  --section-title-m: 600 20px/ 1 'Inter', sans-serif;
  --section-title-s: 600 18px/ 1 'Inter', sans-serif;
  --section-title-xs: 600 16px/ 1 'Inter', sans-serif;

  --link-title-xl: 600 18px/ 1 'Inter', sans-serif;
  --link-title-l: 600 17px/ 1 'Inter', sans-serif;
  --link-title-m: 600 16px/ 1 'Inter', sans-serif;
  --link-title-s: 600 15px/ 1 'Inter', sans-serif;
  --link-title-xs: 600 14px/ 1 'Inter', sans-serif;

  --font-simple-xl: 400 18px/ 1 'Inter', sans-serif;
  --font-simple-l: 400 17px/ 1 'Inter', sans-serif;
  --font-simple-m: 400 16px/ 1 'Inter', sans-serif;
  --font-simple-s: 400 15px/ 1 'Inter', sans-serif;
  --font-simple-xs: 400 14px/ 1 'Inter', sans-serif;
}