.layout{
    background-color: var(--bg-color, rgb(55 67 117 / 100%));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 1;

}
@media screen and (max-width: 768px){
    .layout{
        padding: 20px;
        gap: 20px;
    }
}
@media screen and (min-width: 768px){
    .layout{
        padding: 35px;
        gap: 30px;
    }
}
@media screen and (min-width: 1440px){
    .layout{
        padding: 50px;
        //width: calc(100vw - 82px);
        //padding: 40px max(40px, calc((100vw - 1358px) / 2));
        gap: 50px;

    }
}

