.background-soft-pink {
  background-color: var(--soft-pink, rgba(252, 228, 228, 1));
}

.background-dark-pink {
  background-color: var(--dark-pink, rgba(240, 152, 152, 1));

}

.background-transparent {
  background-color: transparent;
}
.background-main-white {
  background-color: var(--main-white, rgba(255, 252, 245, 1));
}
.background-white {
  background-color: var(--white, #fff);
}
.color-main-black {
  color: var(--main-black, rgba(11, 13, 14, 1));
}
.color-white {
  color: var(--white, #fff);
}
//.color-white:hover{
//    color: var(--main-black, rgba(11, 13, 14, 1));
//}
.color-dark-pink {
  color: var(--dark-pink, rgba(240, 152, 152, 1));
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}

.button {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    min-width: max-content;
    @media screen and (min-width: 1440px){
        font: var(--link-title-xl);
    }
    @media screen and (max-width: 1440px){
        font: var(--link-title-l);
    }
    @media screen and (max-width: 1024px){
        font: var(--link-title-m);
    }
    @media screen and (max-width: 768px){
        font: var(--link-title-s);
    }
    @media screen and (max-width: 425px){
        font: var(--link-title-xs);
    }

}
.button.background-dark-pink:hover,
.button.background-soft-pink:hover,
.button.background-main-white:hover,
.button.background-white:hover {
    box-shadow: inset 4px 4px 4px  rgba(0, 0, 0, 0.25);
}

.border-radius-15 {
    border-radius: 15px;
}
.border-radius-10 {
    border-radius: 10px;
}
.border-radius-0 {
    border-radius: 0;
}

.padding-top-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding-top-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.padding-top-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-top-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.padding-top-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.padding-aside-30 {
    padding-left: 30px;
    padding-right: 30px;
}
.padding-aside-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-aside-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.padding-aside-5 {
    padding-left: 5px;
    padding-right: 5px;
}
.padding-aside-0 {
    padding-left: 0;
    padding-right: 0;
}

.border-dark-pink {
    border: 2px solid var(--dark-pink, rgba(240, 152, 152, 1));
}

.border-none {
    border: none;
}

.img {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
}
.img-before{
  position: relative;

}
.img-before::before {
    display: inline-block;
    content: "";
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    //margin-right: .5em;
}
.img-cart {
    background-image: url("/src/assets/images/cart.png");
}
.img-heart {
    background-image: url("/src/assets/images/heart.png");
}
.img-before::before{

  background-image: url("/src/assets/images/heart.png");
}
//.img-heart:hover{
//    background-image: url("/src/assets/images/heart-hover.png");
//}
.img-search {
    background-image: url("/src/assets/images/search-button.svg");
    background-size: 25% 25%;
    background-color: var(--white);
}




